.module-card{
    padding:10px 0 10px 0;
    margin: 10px 5px 10px 5px;
    text-align: center;
    color:  #4484ce;
    background-color: #4484ce;
}
.title-box {
    display: flex;
    justify-content: space-around;
  }
  .title-text {
    font-size: 0.7em;
    width: 50%;
    position: relative;
  }
  
  .title-text p {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 50%;
  }
  
  .title {
    padding: 14px;
  }
  
  .box {
    padding: 14px;
  }
.l-main {
    text-align: center;
  }

.l-archives{
    text-align: left;
  }
.l-archives li{
    margin:0 10px 0 10px;
    font-size: 0.8em;
    list-style: none;
   
}

.module-card-block{
    background-color: grey;
    width:auto ;
    height: 180px;
}

.module-conts{
    color: black;
}
.card-header{
    background-color: #f9cf00;
}
.card{
    background-color: #4484ce;
}