@charset "utf-8";



h1 {
  font-size: 36.65px;
}

h2 {
  font-size: 22.65px;
}

h3 {
  font-size: 14px;
}

h4 {
  font-size: 8.653px;
}

.theme-fontFamily {
  font-family: "Avenir", "Helvetica Neue", "Helvetica", "Arial", "Hiragino Sans",
    "ヒラギノ角ゴシック", YuGothic, "Yu Gothic", "メイリオ", Meiryo,
    "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

.sm-hidden {
  list-style: none;
}

.menu {
  text-decoration: none;
  color: inherit;
}

.header-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.618rem 1.618rem;
  background-color: #f9cf00;
  background-color: #4484ce;
}

.horizontal-list {
  display: flex;
}

.horizontal-list li {
  padding: 0.618em 1.618em;
  text-align: center;
}

.horizontal-list li:nth-of-type(n + 2) {
  border-left: none;
}

.vertical-list {
  display: flex;
  flex-direction: column;
}

.vertical-list li {
  width: 100%;
  padding: 1.618rem 0;
  border-bottom: 1px solid #000;
  text-align: center;
}

.hamburger {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  border: 1px solid #000;
  padding: 8px;
  width: 50px;
  height: 50px;

  cursor: pointer;
}

.hamburger>div {
  border-bottom: 1px solid #000;
}

.hidden {
  display: none;
}

@media (max-width: 700px) {
  .sm-hidden {
    display: none;
  }
}

@media (min-width: 700px) {
  .sm-show {
    display: none;
  }
}

footer {
  text-align: center;
}

.km-img1 {
  background-image: url(slideshow-5.jpg);
  width: 100%;
  height: 700px;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.km-img2 {
  background-image: url(slideshow-3.jpg);
  width: 100%;
  height: 700px;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.km-img3 {
  background-image: url(slideshow-1.jpg);
  width: 100%;
  height: 700px;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.km-link {
  display: flex;
  /* 子要素をflexboxで揃える */
  flex-direction: column;
  /* 子要素をflexboxにより縦方向に揃える */
  justify-content: center;
  /* 子要素をflexboxにより中央に配置する */
  align-items: center;
  /* 子要素をflexboxにより中央に配置する */
  background-color: #d9d9d9;
  width: 70%;
  height: 500px;
  opacity: 0.6;

}



.km-word1 {
  font-size: 70px;
  color: black;

}